<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./css/reset.css">
    <link rel="stylesheet" href="./css/styles.css">
    <title>Homepage</title>
    <script src="./Js/main.js" defer></script>
</head>

<body>

    <header> 
    <h1> Bienvenue dans la homepage api de The Good Choice Market !
    </h1>
    </header>

    <main class="description">
        <ul>
            <li>
                <div class="description_lien"> Pour accéder aux différentes routes veuillez cliquer sur l'icone ! </div>
            </li>
            <li>
                <a href="https://the-good-choice-market-v1.herokuapp.com/docs/" id="link">
                    <img src="https://res.cloudinary.com/drjw8g2yn/image/upload/v1658906348/Logo/TGCM/Logo_V4_de%CC%81toure%CC%81_fond_couleur_nude_vbkv3a.png" alt="logo The Good Choice Market">
                </a>
            </li>
        </ul>


    </main>

    <footer>
        <h2>The Good Choice Market made by "La team des développeurs avec des super valeurs"</h2>
    </footer>

</body>
</html>